@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,522;1,522&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  
  .image-container {
    display: flex;
    flex-direction: column; 
    height: 100%; 
  }

.sair{
  margin-bottom: 5rem;
  margin-top: -5rem;
  padding: 1rem 2rem;    
  font-size: 1.5rem;     
  border-radius: 8px;  
  background-color: #29b62d; 
  color: white;           
  cursor: pointer;        
}
  
  .image {
    width: 100%;          
    height: auto;          
    aspect-ratio: 16/9;    
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .content {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 0; 
    color: rgb(0, 0, 0); 
    padding: 20px; 
    text-align: center; 
  }

h1{
    margin-top: 5%;
    padding: 1%;
    font-size: 7rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}

header{
    display: flex;             
    flex-direction: column;      
    align-items: center;      
    justify-content: center;     
    margin-top: 5%;
}
  
  /* Estilização do botão */
  button {
    background-color: #29b62d;
    color: white;              
    padding: 1.5% 3%;       
    border: none;             
    border-radius: 5px;        
    cursor: pointer;          
    right: 20px;              
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .enviar{
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .revisar{
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  /* Estilo do botão ao passar o mouse */
  button:hover {
    background-color: #49ad4e; 
  }

  ul {
    font-family: Arial, sans-serif;
    list-style-type: none; 
    padding: 1%;
    margin: 0;
    display: flex; 
    justify-content: space-between;
    font: bold;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.gradiente {
    background: linear-gradient(90deg, rgb(109, 143, 114) 0%, rgb(236, 230, 214));
}

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
  /* Estilos para os links de navegação */
  ul li {
    margin: 0 15px; 
  }
  
  ul li a {
    text-decoration: none; 
    color: #000000;           
    font-size: 140%;       
    padding: 10px 15px;    
    transition: color 0.3s ease;
  }
  
  ul li a:hover {
    color: #ffffff; 
  }

nav{
    background-color: #c2d6bd;
}

.container{
    max-width: 500px;   
    width: 100%;        
    padding: 40px;      
    background-color: #dbebdb; 
    border-radius: 1em;  
    margin-top: 10%; 
    margin: 10px auto;
    position: relative;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); 
}

form{
    background-color: #dbebdb;
    max-width: 500px;
    border-radius: 5%;
    display: flex;           
    flex-direction: column;    
    align-items: center;      
    justify-content: center;
}

.form-container {
    position: relative; 
    height: 100vh;     
    padding-bottom: 50px; 
    z-index: 2;
}

form h2{
    text-align: center;
    font-size: 200%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

input[type="text"], 
input[type="date"] {
    padding: 10px;                 
    border: 1px solid #ccc;       
    border-radius: 5px;           
    font-size: 16px;               
    width: 100%;                  
    max-width: 250px;             
    margin-top: 10px;            
    transition: border-color 0.3s; 
}

input[type="date"]:focus, 
input[type="text"]:focus {
    border-color: #29b62d; 
    outline: none;         
}

.texto-inferior {
    display: flex;               
    justify-content: center;     
    text-align: center;          
}

.texto-inferior p {
    font-size: 4rem;
    margin-bottom: -5%;
    color: #333;    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Estilos básicos para o select */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
  }
  
  /* Cores neutras (padrão) */
  select {
    background-color: #ffffff; 
    border: 1px solid #ccc;
  }
  
  /* Verde para aprovado */
  select.aprovado {
    background-color: #8ed69f; 
    border-color: #188832;
  }
  
  /* Vermelho para reprovado */
  select.reprovado {
    background-color: #f8d7da;
    border-color: #960716;
  }

fieldset{
    margin-top: 15%;
    font-size: 1.8rem;
}

.check {
    text-align: left;      
}

/*COISAS DE CHECAGEM LINHA DE FORA*/
fieldset.checagem {
  border: 1px solid #ccc; 
  margin: 0; 
  padding: 0; 
  border-radius: 5px; 
  margin-top: 5px;
}

fieldset.checagem h5 {
  margin: 0; 
  padding: 10px; 
}
